<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root" style="height:100%"></div>
    <style>
      html,body{
        font-family: "Helvetica,Arial,sans-serif";
        height: 100%;
      }
    </style>
  </body>
</html>