<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="#" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root" style="height:100%;font-size:14px;"></div>
    <div id="print" style="position:absolute; left:0; top:0; background-color:#fff; width:100%; height:100%; font-size:14px; display:none; z-index:9999999;"></div>
    <style>
      html,body{
        height: 100%;
        font-size: 100px;
      }
    </style>
  </body>
</html>